<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://www.quikcalcs.com">
                        QuickCalcs
                    </a>
                </li>
                <li>
                    <a href="https://www.quikcalcs/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="https://www.quikcalcs.com">QuikCalcs</a> All Rights Reserved.
        </div>
    </div>
</footer>
